*{
    box-sizing: content-box;
}
body,html {
    background-color:  hsl(0, 0%, 95%);
    background-size: center;
    background-position: center;
    font-family: 'Lexend Deca';
    font-size: 15px;
    font-weight: 400;
    color: white;
}

#header {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
#header .sedans{
    width: 20%;
    height: 60vh;
    background-color:hsl(31, 77%, 52%) ;
    padding: 10px;
    border-radius: 10px 0 0 10px;
}
#header .suvs{
    width: 20%;
    height: 60vh;
    background-color:  hsl(184, 100%, 22%);
    padding: 10px;
}
#header .luxury {
    width: 20%;
    height: 60vh;
    background-color:  hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
    padding: 10px;
}
.btn{
    text-decoration: none;
    background: transparent;
    font-family: inherit;
    border-radius: 40px;
    cursor: pointer;
    height: 30px;
    width: 120px;
    border: 2px solid white; 
    font-size: 16px;
    color: inherit;

    
    
}

.btn:hover{
    animation: beats 1s infinite;
    transition: .3s;
}
@keyframes beats {
    0%{
        transform: scale(1);
    }
    60%{
        transform: scale(.9);
    }
    100%{
        transform: scale(1);
    }
}
footer{
    font-size: 16px;
    font-weight: 600;
    color: black;
    position: absolute;
}


@media only screen and (max-width:700px) {

    body,html {
    background-color:  hsl(0, 0%, 95%);
    background-size: center;
    background-position: center;
    font-family: 'Lexend Deca';
    font-size: 15px;
    font-weight: 400;
    color: white;
}

#header {
    display: flex;
    width: auto;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
#header .sedans{
    width: 50%;
    height: 60vh;
    background-color:hsl(31, 77%, 52%) ;
    padding: 10px;
    border-radius: none;
}
#header .suvs{
    width: 50%;
    height: 60vh;
    background-color:  hsl(184, 100%, 22%);
    padding: 10px;
}
#header .luxury {
    width: 50%;
    height: 60vh;
    background-color:  hsl(179, 100%, 13%);
    padding: 10px;
}
.btn{
    text-decoration: none;
    background: transparent;
    font-family: inherit;
    border-radius: 40px;
    cursor: pointer;
    height: 30px;
    width: 120px;
    border: 2px solid white; 
    font-size: 16px;
    color: inherit;  
    
}


.btn:hover{
    animation: beats 1s infinite;
    transition: .3s;
}
@keyframes beats {
    0%{
        transform: scale(1);
    }
    60%{
        transform: scale(.9);
    }
    100%{
        transform: scale(1);
    }
}
}
@media only screen and (max-width:375px) {

    body,html {
    background-color:  hsl(0, 0%, 95%);
    background-size: center;
    background-position: center;
    font-family: 'Lexend Deca';
    font-size: 15px;
    font-weight: 400;
    color: white;
}

#header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
}
#header .sedans{
    width: 100%;
    height: 50vh;
    background-color:hsl(31, 77%, 52%) ;
    padding: 10px;
    border-radius: 0px;
}
#header .suvs{
    width: 100%;
    height: 50vh;
    background-color:  hsl(184, 100%, 22%);
    padding: 10px;
}
#header .luxury {
    width: 100%;
    height: 50vh;
    background-color:  hsl(179, 100%, 13%);
    padding: 10px;
    border-radius: 0px;
}
.btn{
    text-decoration: none;
    background: transparent;
    font-family: inherit;
    border-radius: 40px;
    cursor: pointer;
    height: 30px;
    width: 120px;
    border: 2px solid white; 
    font-size: 16px;
    color: inherit;
    
    
}
footer{
    margin-top: 350px;
}

.btn:hover{
    animation: beats 1s infinite;
    transition: .3s;
}
@keyframes beats {
    0%{
        transform: scale(1);
    }
    60%{
        transform: scale(.9);
    }
    100%{
        transform: scale(1);
    }
}
}