*{
    padding: 0;
    margin: 0;
}
body, html{
    background-color: hsla(0, 0%, 100%, 0.75);
    display: flex;
    width: 100%;
    min-height: 100vh;
    font-size: 15px;
    color: white;
    
}
main{
    display: grid;
    grid-template-areas: 
    'a a a b'
    'c c d d'
    'c c e e'
    ; 
    width: 50%;
    margin: auto;
    height: 50vh;
    gap: 10px;
    
}
main div {
    padding: 10px;
    text-align: center;
}
.a{
    background-color: orangered;
    grid-area: a;
    
}
.b{    
 background-color:hsl(184, 100%, 22%) ;
 grid-area: b;
}
.c{
    background-color: rgb(46, 40, 40);
    grid-area: c;
}
.d{
    background-color:  hsl(179, 100%, 13%);
    grid-area: d;
}
.e{
    background-color:maroon ;
    grid-area: e;
}