*{
    box-sizing: content-box;
}

body, html {
    margin: 0;
    padding: 0;
    background-image: url('greyscale.jpg');
    background-position: center;
    background-size: cover;
    font-family: cursive;
}
#header {
   display: flex;
   width: 100%;
   height: auto;
   padding: 20px;
   justify-content: space-between;
   align-items: center;
}

#header .logo {
    width: 10%;
    height: 140px;
    border-radius: 50%;
    width: 140px;
    cursor: pointer;
}

#header .menu {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

#header .menu  a {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    transition: .4s ease;
}
#header .menu a:hover{
    color: skyblue;
}

@media screen  and ( max-width : 750px ){
    #header {
        display: block;
        width: 100%;
        height: auto;
     }
     
     #header .logo {
        display: block;
        margin: 0px auto;
     }
    #header .menu {
        width: 100%;
        display: block;
    }
    
    #header .menu  a {
        display: block;
    }
}
.main{
display: flex;
width: 100%;
padding: 20px;
align-items: center;
justify-content: space-evenly;

}
.main #about{
    width: 40%;
    height: auto;
}
.main #services{
    width: 50%;
    height: auto;
    display: block;
    color: white;
    letter-spacing: 1px;
    
}

#about h1 {
    font-size: 30px;
    color: white;
}
#about h3 {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 24px;
    color: white;
}
#about span {
    color: orangered;
}
#about p{
    color: white;
}
#about a{
    text-decoration: none;
    color: white;
    background: slategrey;
    margin: 25px 0;
    padding: 10px 18px;
    border-radius: 20px;
    display: inline-block;
    transition: .4s ease;
}
#about a:hover{
    background: skyblue;
}
#projects{
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: space-evenly;
    align-items: center;
}
#projects .ext{
    width: 40%;
    height: auto;

}
#projects .info{
    width: 50%;
    height: auto;
}
main{
    color: white;
}
*{
    box-sizing: border-box;
}
.container {
    width: 50%;
    background-color: white;
}
.skills{
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: slategray;
}
.photography{
    width: 95%;
    background-color: slategray;
}
.web{
    width: 85%;
    background-color: slategray;
}
.cooking{
    width: 90%;
    background-color: slategrey;
}

.contact{
    width: 50%;
    height: 35px;
    caret-color: skyblue;
    font-size: 16px;
    text-decoration: none;
    text-align: justify;
}
button{
    width: 10%;
    height: 35px;
    border-radius: 20px;
}
button:hover{
    background-color: skyblue;
    cursor: pointer;
}
h1{
    color: white;
}
.form{
    text-align: right;
    
}
.fa {
    display: flex;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    
}
.fa:hover {
    opacity: 0.7;
}
.fa-linkedin {
    background: skyblue;
    color: white;
  }
.fa-twitter {
    background: blue;
    color: white;
}
.fa-instagram {
    background: red;
    color: white;}


